body{
  color: #333;
  font-family: sans-serif;
  margin: 0;
}
nav{
  border-bottom: 1px solid #e2e2e2;
  background-color: #fff;
  position: fixed;
  top:0;
  right: 0;
  left: 0;
}
.navbar{
  display: flex;
  align-items: center;
  max-width: 1612px;
  height: 36px;
  margin: 0 auto;
  padding: 4px 10px 2px;
}
.logo{
  width: 16px;
  height: 16px;
  padding: 7px;
}
.logo:hover{
  background-color: #ebebeb;
  cursor: pointer;
}
.menuLogo{
  margin-right: 8px;
}
.topic{
  margin-bottom: 4px;
}
.topic a{
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  color: #000;
  padding-left: 20px;
}
.topic a:hover, .caption2 a:hover, .aside2 a:hover, .wrapper1 p:hover, .popular p:hover, .manu ul li a:hover, footer ul li a:hover {
  text-decoration: underline;
}
.imgLogo{
  flex: 1;
  align-self: flex-end;
  text-align: center;
}
.imgLogo svg, .header svg{
  width: 195px;
  padding-right: 23px;
  cursor: pointer;
}
.btn1{
  align-self: flex-start;
}
.btn2{
  display: none;
}
button{
  color: #fff;
  border-radius: 3px;
  background-color: #6288a5;
  border: 1px solid #326891;
  cursor: pointer;
  font-size: 11px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  padding: 8.5px 10px;
  margin-right: 7px;
}
button:hover{
  background-color: #326891;
}
.heading{
  max-width: 500px;
  margin: 70px auto 40px;
}
.heading h1{
  color: #121212;
  font-weight: 700;
  font-style: italic;
  font-size: 35px;
}
.headImg{
  max-width: 1200px;
}
.headImg img{
  width: 100%;
}
figcaption{
  max-width: 850px;
}
.caption1{
  font-size: 14px;
  color: #666;
}
.caption2, .caption2 a{
  font-size: 12px;
  color: #888;
  text-decoration: none;
}
section{
  max-width: 1200px;
  margin: 0 auto;
}
.social{
  max-width: 600px;
  margin: 30px auto 10px;
}
.social p{
  font-size: 15px;
  font-weight: 700;
}
.social p a{
  color: #000;
  text-decoration-color: #ccc;
}
.social p a:hover{
  text-decoration: none;
}
.icons{
  display: flex;
  align-items: center;
}
.icons time{
  width: 120px;
  margin-right: auto;
  font-size: 14px;
  font-weight: 400;
}
.icons button{
  width: 300px;
  margin-right: auto;
}
.icons a{
  width: 30px;
  height: 25px;
  margin-right: 15px;
  background-color: #eee;
  border: 1px solid #eee;
  padding-top: 5px;
  text-align: center;
  border-radius: 50%;
}
.icons a svg{
  vertical-align: middle;
}
.icons a:hover{
  background-color: #fff;
  border-color: #eee;
}
.cambridge{
  display: grid;
  grid-template-columns: 1fr 600px 1fr;
}
p{
  grid-column: 2;
  font-size: 20px;
  margin: 15px 0;
}
p a{
  color: #326891;
}
p a:hover{
  text-decoration: none;
}
.aside1{
  grid-column: 3;
  grid-row: 4/6;
  place-self: center end;
  max-width: 180px;
  margin: 0 15px;
}
.aside1 h4{
  margin: 0;
}
.aside1 p{
  font-size: 12px;
  color: #222;
}
.aside1 button{
  width: 100%;
}
.aside2{
  grid-column: 1;
  grid-row: 8/10;
  place-self: center start;
  max-width: 210px;
  margin: 0 10px;
}
.aside2 a{
  display: flex;
  align-items: center;
  text-decoration: none;
  margin-bottom: 10px;
}
.aside2 p{
  font-size: 14px;
  font-weight: 900;
  color:#000;
  padding-bottom: 10px;
  border-bottom: 1px solid #e2e2e2;
  margin-bottom: 15px;
}
.aside2 a span{
  font-size: 13px;
  margin: 5px 0 5px 10px;
}
.aside2 img{
  width: 75px;
}
.content{
  max-width: 600px;
  margin: 0 auto;
}
.ytvideo{
  max-width: 600px;
}
.theory{
  max-width:945px;
  margin:40px auto 0;
}
.content div{
  margin: 40px 0;
}
.telescope{
  margin: 0 auto;
  max-width: 720px;
}
.telescope img{
  width: 100%;
}
.related{
  max-width: 1200px;
  margin: 50px auto;
  padding: 20px 40px 0;
  display: grid;
  grid-template-columns: 2.65625fr 1fr;
  grid-column-gap: 30px;
}
.wrapper1{
  grid-column: 1;
  border-top: 1px solid #000;
  max-width: 850px;
}
.wrapper1 p, .popular p{
  padding-top: 5px;
  font-size: 15px;
  font-weight: 700;
  color: #000;
}
.wrapper1 a{
  text-decoration: none;
  color: #000;
}
.more, .editors{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 15px;
  grid-row-gap: 40px;
  margin-bottom: 40px;
}
.relatedImg{
  width: 100%;
  cursor: pointer;
}
.caption3{
  font-size: 11px;
  color: #888;
  text-align: right;
  cursor: pointer;
}
.imgTitle, .popular ul li a{
  color: #000;
  cursor: pointer;
  text-decoration: none;
  font-size: 17px;
}
.imgTitle:hover, .popular ul li a:hover{
  color: #444;
}
date{
  font-size: 11px;
  color: #888;
}
.popular{
  grid-column: 2;
  grid-row: 1/3;
  width: 100%;
  border-top: 1px solid #000;
}
.popular ul{
  padding-left: 0;
  font-size: 18px;
  list-style-type: none;
}
.popular ul li{
  padding: 15px 0;
  border-top: 1px solid #e2e2e2;
}
.wrapper2{
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 40px;
}
.wrapper2::before {
  content: "";
  display: block;
  height: 1px;
  margin-top: 0px;
  border-bottom: 1px solid #e2e2e2;
  border-top: 2px solid #e2e2e2;
}
.header{
  display: flex;
  height: 44px;
  align-items: center;
}
.header svg{
  margin-right: auto;
}
.header a{
  color: #6288a5;
  font-size: 11px;
  text-decoration: none;
}
.manu{
  display: flex;
  margin-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #e2e2e2;
}
.manu div{
  flex: 1;
  font-size: 13px;
  margin-right: 20px;
}
.manu div h4{
  height: 26px;
  text-transform: uppercase;
  color: #000;
}
.manu ul{
  list-style-type: none;
  padding-left: 0;
}
.manu ul >*{
  height: 24px;
}
.manu ul li svg{
  height: 13px;
  width: 13px;
  margin-right: 7px;
  vertical-align: middle;
}
.manu ul li a{
  text-decoration: none;
  color: #000;
}
.subs{
  border-left: 1px solid #e2e2e2;
  padding-left: 10px;
}
.list1{
  font-size: 14px;
  font-weight: 700;
}
.list2{
  padding-top: 15px;
  font-size: 11px;
  border-bottom: 1px solid #e2e2e2;
}
.list3{
  padding-top: 10px;
  font-size: 11px;
  border-bottom: none;
}
footer{
  max-width: 1200px;
  margin: 0 auto;
}
footer ul{
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  margin: 5px 20px;
}
footer ul li a{
  text-decoration: none;
  padding: 0 15px;
  font-size: 10px;
  color: #888;
}
@media (max-width: 1400px) {
  .telescope{
    max-width: 600px;
  }
}
@media (max-width: 1150px) {
  .manu{
    flex-direction: column;
  }
  .manu div{
    padding: 8px 0;
    margin-right: 0;
    border-top: 1px solid #e2e2e2;
  }
  .manu div ul{
    display: flex;
    flex-wrap: wrap;
  }
  .manu div ul li{
    padding-right: 20px;
  }
  .subs{
    display: none;
  }
}
@media (max-width: 1000px) {
  .searchLogo{
    display: none;
  }
  .topic{
    display: none;
  }
  .btn1{
    display: none;
  }
  .btn2{
    display: block;
  }
  .cambridge{
    margin: 0 auto;
    max-width: 600px;
    display: block;
  }
  aside{
    display: none;
  }
  .theory{
    display: none;
  }
}
@media (max-width: 750px){
  .related{
    grid-template-columns: 1fr;
  }
  .popular{
    display: none;
  }
}
@media (max-width: 620px) {
  body{
    margin: 0 10px;
  }
  .icons a{
    display: none;
  }
}
